apiVersion: apps/v1
kind: Deployment
metadata:
  name: esme-app
  namespace: esme-tp-elodie
spec:
  replicas: 3                         
  revisionHistoryLimit: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 25%
      maxSurge: 25%
  selector:
    matchLabels:
      app: esme-app
  template:
    metadata:
      labels:
        app: esme-app
    spec:
      containers:
        - name: esme-app
          image: tonlogin/esme-app:v1.0.0   
          ports:
            - containerPort: 3000
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 200m
              memory: 256Mi
          readinessProbe:                 
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 2
            failureThreshold: 3
          livenessProbe:                  
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 15
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3
          startupProbe:                   
            httpGet:
              path: /health
              port: 3000
            failureThreshold: 30          
            periodSeconds: 2